
      body {
      background-image:url(images/kvadrat.jpg);
      }
      p {
        background-color: brown;
        border: 2px solid silver;
        color:white;
        padding-left:139px;
        margin-right:1000px;
      }
      h2{
      font-family:Georgia;
      margin-right:150px;
      }
      i{
      margin-right:150px;  
      }
      button {
        background-color: white;
        color: red;
        width: 150px;
        height: 50px;

        border-radius: 10%;
      }
      .comp:hover {
        background-color: black;
        color: blue;
        border: none;
      }
   